<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ejs practise1</title>
  </head>
  <body>
    <h1>Expense list as on <em style="color:blue"><%= thisDay %></em></h1>
    <ul>

      <li><%=expCat%></li>
    </ul>
  <form class="" action="/" method="post">
    <input type="text" name="expensetoday" value="">
    <button type="submit" name="submit">Add Expense</button>
  </form>

  </body>
</html>
