<%- include("./partials/header") -%>
<h1>Compose</h1>


<form action="/compose" method="post" autocomplete="off">
    <fieldset>
        <legend>Type your New Blog</legend>
        <label>Title</label>
        <input type="text" name="newTitle" class="form-control"/>
        <label>Content</label>
        <textarea class="form-control" name="newContent" placeholder="Type your new blog content"></textarea><br/>
        <button class="btn btn-primary" type="Submit" name="button" value="publish" >Publish</button>
    </fieldset>
</form>


<%- include("./partials/footer") -%>