<%- include("./partials/header") %>
<div class="jumbotron text-center">
    <div class="container">
        <i class="fa fa-key fa-6x"></i>
        <h1 class="display-3">You've discovered my secret</h1>
        <p class="secret-text">JackBeur is silly.</p>
        <hr>
        <a href="/logout" role="button" class="btn btn-light btn-lg">Logout</a>
        <a href="/submit" role="/submit" class="btn btn-dark btn-lg">Submit a secret</a>
    </div>
</div>
<%- include("./partials/footer") %>